.logo {
  max-width: 50px;
  max-height: 50px;
}

.dropdown-item,
.nav-link {
  cursor: pointer;
}

#found {
  position: relative;
}

#found-products {
  position: absolute;
  top: 50px;
  left: -30px;
  z-index: 1000;
}

.slider img {
  max-height: 600px;
  max-width: 100%;
  object-fit: cover;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star {
  cursor: pointer;
  margin: 0 2px;
}

.star_active {
  color: orange;
}

.star__category {
  cursor: default;
}

.slder {
  position: relative;
}

.fa {
  line-height: 150%;
}

.slick-arrow {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity .5s ease;
}

#btn-back-to-top.show {
  opacity: 1;
}

.burger-button {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 12;
}

.burger-button span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
}

.burger-button span::before,
.burger-button span::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  transition: all .3s;
}

.burger-button span::before {
  bottom: 8px;
}

.burger-button span::after {
  top: 8px;
}

.burger.active .burger-button span {
  background-color: transparent;
}

.burger.active .burger-button span::before,
.burger.active .burger-button span::after {
  top: 0;
}

.burger.active .burger-button span::before {
  transform: rotate(45deg);
}

.burger.active .burger-button span::after {
  transform: rotate(-45deg);
}

.mobile {
  display: none;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  position: absolute;
  background-color: #fff;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform .3s ease;
}

@media (max-width: 1000px) {
  .mobile {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .burger.active .mobile-menu {
    transform: translateY(0);
  }
}

.info__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jp-audio {
  width: 100%;
}

.footer {
  padding: 20px 30px;
  background-color: #f0f0f0;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}